.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin: 30px auto;

   .w-33 {
    width: 33.3%;
   }

  .task-info {
    display: flex;
    align-items: center;

    .task-checkbox {
      margin-right: 10px;
      cursor: pointer;
      transform: scale(1.2);
    }

    .task-title {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      margin-right: 20px;
      transition: color 0.3s ease, text-decoration 0.3s ease;

      &.completed {
        text-decoration: line-through;
        color: #999;
      }
    }
  }

  .individual-task {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .task-info {
      display: flex;
      align-items: center;

      .task-title {
        font-size: 18px;
        font-weight: 500;
        color: #333;
        margin-right: 20px;
      }
    }

    .task-actions {
      display: flex;
      gap: 10px;
    }
  }
}

.add-task {
  display: flex;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

a, button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  &.delete-task-btn {
    background-color: #ff4d4d;

    &:hover {
      background-color: #cc0000;
    }
  }
}

.no-tasks {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #555;
  padding: 20px;

  p {
    margin: 0;
  }
}


@media (max-width: 600px) {
  .individual-task {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    .w-33 {
      width: 100%
    }

    .task-actions {
      // flex-direction: column;
      // width: 100%;
      
      a, button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .task-list, .add-task {
    width: 100%;
    padding: 15px;
  }
}


